*{
    padding: 0px;
    margin: 0px;
}


html {
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

.navbar {
    display: flex;
    height: 64px;
}

.company {
    display: flex;
    padding-left: 24px;
    align-items: center;
}

.company img {
    height: 32px;
    width: auto;
}

.company p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
}

.company span {
    font-weight: 400;
    color: gray;
}

.navbar :last-child {
    margin-left: auto;
    padding-right: 8px;
}

.navbar span {
    display: flex;
    justify-content: right;
    align-items: center;
    float: right;
    margin-right: 16px;
}

nav {
    padding: 8px;
    text-decoration: none;
    transition: all 0.2s ease-in;
    border-radius: 5px;
}

nav:hover {
    color:grey;
    box-shadow: 0 5px 15px grey;

}

.banner-container {
    background-color: lightgray;
}

.banner {
    display: flex;
}

.banner-container img {
    padding: 32px 24px;
    width: 60%;
    height: auto;
    padding-right: 16px;
}

.learn-something {
    width: 30%;
    display: inline-block;
    align-self: center;
    text-align: left;

}

.learn-something > * {
    margin: 1.5rem 16px;
    width: 100%;
}

.button {
    font-size: 1.25em;
    padding: 0.5em;
    color: white;
    background-color: #4a4a4a;
}

h1 {
    color: #4a4a4a;
    font-size: 2.5rem;
}

.learn-something p {
    font-size: 1.25rem;
    
}

.information {
    display: flex;
}

.left-side-container img {
    width: 100%;
}

.left-side-container {
    width: 60%;
    margin: 1.5rem;

}

.right-side-container {
    border-left: solid lightgray 1px;
    width: 40%;
    padding: 1.5rem 1.5rem 0;
}

.info-card img {
    width: 40%;
    height: auto;
    padding-right: 1rem;
}

.info-card {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
}

.info > *{
    padding: 0.25rem;
}

a {
    color: blue;
}

#start-learning {
    background-color: lightgray;

}

#start-learning h2 {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 3.5rem 1rem 3.5rem;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card {
    width: 30%;
    background-color: rgba(245, 245, 245, 0.681);
    margin: 1rem;
}

.course {
    padding: 1rem 1rem 1.5rem 1rem;
}

.course h3 {
    font-size: 1.5rem;
}

.course > * {
    padding-bottom: 0.5rem;
}

.card p {
    line-height: 1.4rem;
    font-size: 1.125rem;
}

.subject {
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#thesis-exhibit {
    display: flex;
}

.thesis-left-container {
    padding: 1rem 1.5rem 1.5rem;
    width: 60%;
}

.thesis-right-container {
    width: 40%;
}

.thesis-card img {
    width: 39%;
    height: auto;
    padding: 1rem 1rem 1rem 0;
}

.thesis-card {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
}

.thesis-card div {
    width: 60%;
}

.thesis-card div > * {
    padding: 0.25rem;
}

.thesis-card h3 {
    font-size: 1.5rem;
}

.thesis-card p {
    font-size: 1.125rem;
    color:#4a4a4a;
}

.thesis-left-container h3 {
    padding: 1.5rem 0 0.5rem 0;
    font-size: 1.5rem;

}

#urban-quote {
    line-height: 1.4rem;
    padding-bottom: 2rem;
    font-size: 1.1rem;
}

video {
    width: 100%;
    height: auto;
}

footer {
    padding: 1rem 1.5rem;
    border-top: 1px solid #bbbbbb;
    color: gray;
}

span {
    display: flex;
    justify-content: right;
    align-items: center;
    float: right;
    margin-right: 16px;
    
}

span link {
    display: flex;
    margin-left: 1rem;
}

.mobile {
    display: none;
}